<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiami.dao.LoginMapper">

    <select id="getRoleNames" parameterType="string" resultType="java.lang.String">
        SELECT role_name FROM role r
        INNER JOIN role_user ru
        ON r.id=ru.role_id
        INNER JOIN user u
        ON ru.user_id=u.id
        WHERE u.name=#{username}
    </select>

    <select id="getAllMenusByName" parameterType="string" resultType="string">
        SELECT DISTINCT m.url
        FROM
        menu m
        INNER JOIN role_permission rp ON m.id = rp.permission_id
        INNER JOIN role_user ru ON rp.role_id = ru.role_id
        INNER JOIN `user` u ON u.id = ru.user_id
        WHERE
        u.name=#{name} and m.type!="0"
    </select>

</mapper>