<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiami.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.xiami.entity.Menu">
    <!--@mbg.generated generated on Tue Jun 02 23:12:33 CST 2020.-->
    <!--@Table menu-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jun 02 23:12:33 CST 2020.-->
    id, parent_id, `name`, url, perms, `type`, icon, order_num
  </sql>

  <select id="getMenuPerms" resultType="String" parameterType="integer">
    SELECT DISTINCT
        m.perms
    FROM
	    menu m
	INNER JOIN role_menu rm ON m.id = rm.menu_id
	INNER JOIN role_user ru ON rm.role_id = ru.role_id
	INNER JOIN `user` u ON u.id = ru.user_id
    WHERE
	    u.id =1
  </select>

</mapper>