<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiami.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="com.xiami.entity.Role">
        <!--@mbg.generated generated on Fri May 15 12:21:16 CST 2020.-->
        <!--@Table role-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="RoleMap" type="hashmap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Fri May 15 12:21:16 CST 2020.-->
        id, role_name, create_time, update_time
    </sql>

    <select id="getRoleNames" resultType="String" parameterType="integer">
        SELECT r.role_name FROM role r
        INNER JOIN role_user ru
        ON r.id=ru.role_id
        WHERE ru.user_id=#{userId}
    </select>

    <select id="selectRoles" resultMap="RoleMap">
        select id,role_name from role
    </select>

    <select id="getAllRolesByName">
        SELECT r.* FROM role r
        INNER JOIN role_user ru ON r.id=ru.role_id
        INNER JOIN user u ON u.id=ru.user_id
        where u.name=#{name}
    </select>
</mapper>